* {
  margin: 0;
}
:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}
body {
  background-color: black;
}
div#image1 {
  border: 1px solid white;
  display: block;
  justify-content: right;
  width: 2px;
}
img#bobo {
  display: inline-block;
  width: 50%;
  justify-content: center;
}
p#title-color {
  color: var(--title-color);
}
p.text-color {
  color: var(--text-color);
}
form.text-color {
  color: var(--text-color);
}

input {
  width: 798px;
  height: 48px;
}
